.cart-item-thumb {
    display: block;
    width: 10rem
}

.cart-item-thumb>img {
    display: block;
    width: 100%;
    border-radius: 10px 0;
}

div.media-body {
    text-align: start;
    width: 100%;
}

.product-card-title>a {
    color: #000;
}

.font-weight-semibold {
    font-weight: 600;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

a {
    cursor: pointer;
}

.remove-deleted {
    transform: translateY(10rem);
    opacity: 0;
}

.order-container {
    transition: all 0.3s ease;
}

.delete {
    height: 5rem;
    width: 10rem;
    padding-top: 2rem;
}